<a href="https://colab.research.google.com/github/marinowars/Examen1/blob/main/Microretailer_MIT_LIFT_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos las librerías pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [3]:
#Carga desde un archivo .xlsx sin indice
Micro_Retailer= pd.read_excel("microretailer_mit_lift_lab.xlsx")

In [ ]:
#Verificamos información del DataFrame
Micro_Retailer.info()

In [ ]:
#Imprimo los primeros 5 registros del dataframe
Micro_Retailer.head()

**VALORES NULOS**

In [6]:
#Identificar valores nulos por columna
valores_nulos=Micro_Retailer.isnull().sum()
valores_nulos

_record_id                                0
_title                                    0
_server_updated_at                        0
_updated_by                               0
_geometry                                 0
                                       ...
234_willingness_participate_workshop     73
318_shopkeeper_name                     123
319_shopkeepers_last_name               125
236_whatsapp                            129
235_email                               142
Length: 106, dtype: int64

In [ ]:
#Realizamos una copia del dataframe
data1=Micro_Retailer.copy()
data1

In [ ]:
#Al ser una gran cantidad de datos reemplazemos los valores nulos con "bfill"
data2=data1.fillna(method='bfill')
data2

In [10]:
#verificamos nuestros valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                              0
_title                                  0
_server_updated_at                      0
_updated_by                             0
_geometry                               0
                                       ..
234_willingness_participate_workshop    5
318_shopkeeper_name                     5
319_shopkeepers_last_name               5
236_whatsapp                            5
235_email                               5
Length: 106, dtype: int64

In [ ]:
#realizamos ahora un filtro por columnas de las que son de tipo cuantitativas, de este modo, simplificamos dentro del script los valores nulos y así lograr limpiar el dataframe
datoscuantitativos=data2.iloc[ : , [5,6,13,14,16,21,22,31,42,49,51,59,29,33,78,90]]
datoscuantitativos

In [12]:
#corroboramos valores nulos
valores_nulos=datoscuantitativos.isnull().sum()
valores_nulos

_latitude                                             0
_longitude                                            0
97_number_of_customers_in_store                       0
268_number_fridges                                    0
104_how_many_shelves_does_the_micro_retailer_have     0
2_current_permanent_employees                         5
4_number_permanent_employees_last_year                8
145_number_direct_competitors                         5
272_card_days_receive_money                           5
276_expected_days_informal_credit                    12
36_credit_default_rate                               12
62_frequency_only_services                            5
103_number_own_fridges                                9
24_burnout                                            9
172_supplier_frequency                                5
163_number_high_perishable_products                   5
dtype: int64

In [14]:
#reemplazamos valores nulos del dataframe con mean
#realizamos una copia del dataframe
data3=datoscuantitativos.copy()
data3=data3.fillna(round(data3.mean(),1))
data3

,_latitude,_longitude,97_number_of_customers_in_store,268_number_fridges,104_how_many_shelves_does_the_micro_retailer_have,2_current_permanent_employees,4_number_permanent_employees_last_year,145_number_direct_competitors,272_card_days_receive_money,276_expected_days_informal_credit,36_credit_default_rate,62_frequency_only_services,103_number_own_fridges,24_burnout,172_supplier_frequency,163_number_high_perishable_products
0,19.053536,-98.233822,2,0.0,4,2.0,2.0,3.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,0.0
1,19.053561,-98.234142,0,4.0,8,1.0,1.0,4.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
2,19.058655,-98.232300,0,0.0,24,2.0,2.0,0.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
3,19.059293,-98.233158,0,0.0,2,1.0,1.0,4.0,0.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
4,19.059585,-98.233864,0,0.0,16,0.0,0.0,0.0,1.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,19.043115,-98.194066,1,0.0,5,1.8,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
167,19.042794,-98.193802,1,5.0,5,1.8,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
168,19.042809,-98.193439,3,1.0,1,1.8,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
169,19.042558,-98.193818,0,1.0,1,1.8,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
170,19.042823,-98.193735,1,3.0,1,1.8,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9

In [15]:
#corroboramos valores nulos y ahora ya no tendremos
valores_nulos=data3.isnull().sum()
valores_nulos

_latitude                                            0
_longitude                                           0
97_number_of_customers_in_store                      0
268_number_fridges                                   0
104_how_many_shelves_does_the_micro_retailer_have    0
2_current_permanent_employees                        0
4_number_permanent_employees_last_year               0
145_number_direct_competitors                        0
272_card_days_receive_money                          0
276_expected_days_informal_credit                    0
36_credit_default_rate                               0
62_frequency_only_services                           0
103_number_own_fridges                               0
24_burnout                                           0
172_supplier_frequency                               0
163_number_high_perishable_products                  0
dtype: int64

**OUTLIERS**

In [ ]:
#hacemos uso de desviacion estandar puesto que eliminarlos no es una solucion y permite ver que tan alejados estan los datos con la intencion de que no sea tan grande la diferencia
y=data3
Limite_superior=y.mean()+3*y.std()
Limite_inferior=y.mean()-3*y.std()
print('Limite superior permitido',Limite_superior)
print('Limite inferior permitido',Limite_inferior)

In [ ]:
#encontramos outliers del dataframe
outliers=data3[(y>Limite_superior)|(y<Limite_inferior)]
outliers

In [ ]:
#obtenemos datos sin outliers
data4=data3[(y<=Limite_superior)&(y>=Limite_inferior)]
data4

In [19]:
#corroboramos valores nulos
valores_nulos=data4.isnull().sum()
valores_nulos

_latitude                                            0
_longitude                                           0
97_number_of_customers_in_store                      4
268_number_fridges                                   3
104_how_many_shelves_does_the_micro_retailer_have    3
2_current_permanent_employees                        1
4_number_permanent_employees_last_year               1
145_number_direct_competitors                        5
272_card_days_receive_money                          5
276_expected_days_informal_credit                    0
36_credit_default_rate                               0
62_frequency_only_services                           5
103_number_own_fridges                               5
24_burnout                                           0
172_supplier_frequency                               0
163_number_high_perishable_products                  9
dtype: int64

In [21]:
#Reemplazamos valores atipicos del data frame con mean
data5=data4.copy()
data5=data5.fillna(round(data4.mean(),1))
data5

,_latitude,_longitude,97_number_of_customers_in_store,268_number_fridges,104_how_many_shelves_does_the_micro_retailer_have,2_current_permanent_employees,4_number_permanent_employees_last_year,145_number_direct_competitors,272_card_days_receive_money,276_expected_days_informal_credit,36_credit_default_rate,62_frequency_only_services,103_number_own_fridges,24_burnout,172_supplier_frequency,163_number_high_perishable_products
0,19.053536,-98.233822,2.0,0.0,4.0,2.0,2.0,3.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,0.0
1,19.053561,-98.234142,0.0,4.0,8.0,1.0,1.0,4.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
2,19.058655,-98.232300,0.0,0.0,24.0,2.0,2.0,0.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
3,19.059293,-98.233158,0.0,0.0,2.0,1.0,1.0,4.0,0.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
4,19.059585,-98.233864,0.0,0.0,16.0,0.0,0.0,0.0,1.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,19.043115,-98.194066,1.0,0.0,5.0,1.8,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
167,19.042794,-98.193802,1.0,5.0,5.0,1.8,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
168,19.042809,-98.193439,3.0,1.0,1.0,1.8,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
169,19.042558,-98.193818,0.0,1.0,1.0,1.8,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
170,19.042823,-98.193735,1.0,3.0,1.0,1.8,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9

In [22]:
#realizamos ahora un filtro por columnas de las que son de tipo cualitativos
datoscualitativos=data2.iloc[ : , [0,1,2,3,4,7,8,9,10,11,12,15,17,18,19,20,23,24,25,26,27,28,30,32,34,35,36,37,38,39,40,41,43,44,45,46,47,48,50,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,79,80,81,82,83,84,85,86,87,88,89,91,92,93,94,95,96,97,98,99,100,101,102,103,104]]
datoscualitativos

,_record_id,_title,_server_updated_at,_updated_by,_geometry,228_store_name,229_store_picture,232_type_of_store,108_does_the_micro_retailer_has_a_barred_window_,99_does_the_micro_retailer_exhibits_products_outside_,...,260_technology_scalable,261_technology_organization,262_technology_serve_customers,263_technology_secure_sales,264_technology_budget,267_technology_investment_customer_preferences,234_willingness_participate_workshop,318_shopkeeper_name,319_shopkeepers_last_name,236_whatsapp
0,dff2998e-af74-4de6-8efd-488aca24e67b,"November 12, 2022",2022-11-12 22:15:10 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.233822273 19.0535362706),Eugene’s Compostura,1 Photo,Tailor,yes,no,...,En desacuerdo,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09
1,c596412f-4fc2-4983-acba-d9565859e42f,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2341421351 19.0535610353),Frutas y verduras Angy,1 Photo,Grocery store (aka. nanostore),no,yes,...,En desacuerdo,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09
2,5bb632b3-41b5-4fb6-a817-b564e8b45a48,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.232299887 19.058654656),Libélula,1 Photo,Grocery store (aka. nanostore),yes,no,...,En desacuerdo,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09
3,6774a0f6-bab4-4a58-bf94-95ad0b7cb438,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2331576513 19.0592929035),Quality fix,1 Photo,Grocery store (aka. nanostore),no,no,...,En desacuerdo,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09
4,6cc637fa-3d54-48c7-9499-6de13d0a26aa,"November 12, 2022",2022-11-12 22:15:08 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2338639604 19.0595846029),Artesanías Los Pinos,1 Photo,Grocery store (aka. nanostore),yes,no,...,En desacuerdo,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,2413f06e-15cc-4a6f-8e83-5224c6824b12,"November 3, 2022",2022-11-03 16:50:48 UTC,Emilio Garza,SRID=4326;POINT(-98.1940658722 19.0431145635),July Store,1 Photo,Grocery store (aka. nanostore),yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,962bf5a6-1eff-4874-a627-9cd8e3ca27b4,"November 3, 2022",2022-11-03 16:28:15 UTC,Emilio Garza,SRID=4326;POINT(-98.1938023854 19.0427938182),Miscelánea rubí,1 Photo,Grocery store (aka. nanostore),no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,9ff658db-4dc5-48b6-aa0b-5c6668bb6720,"November 3, 2022",2022-11-03 16:28:14 UTC,Emilio Garza,SRID=4326;POINT(-98.1934387078 19.0428094171),La fonda,1 Photo,Micro-restaurant (aka. fondita),yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,e88aa9c1-dc8b-4180-99a1-2e0118ad905d,"November 3, 2022",2022-11-03 16:18:37 UTC,Francisco Adán,SRID=4326;POINT(-98.193818 19.042558),"Birria de Res ""Hermanos Negreros 2"" estilo Tij...",1 Photo,Micro-restaurant (aka. fondita),no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,bf720ff0-3b7d-47ed-ba49-f5d4bfb7293c,"November 3, 2022",2022-11-03 16:15:13 UTC,Emilio Garza,SRID=4326;POINT(-98.1937349172 19.0428229892),Restaurante el alfeñique,1 Photo,Micro-restaurant (aka. fondita),no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#unimos las columnas de cualitativas y cuantitativas

Datos_limpios= pd.concat([datoscualitativos,data5], axis=1)
Datos_limpios

,_record_id,_title,_server_updated_at,_updated_by,_geometry,228_store_name,229_store_picture,232_type_of_store,108_does_the_micro_retailer_has_a_barred_window_,99_does_the_micro_retailer_exhibits_products_outside_,...,4_number_permanent_employees_last_year,145_number_direct_competitors,272_card_days_receive_money,276_expected_days_informal_credit,36_credit_default_rate,62_frequency_only_services,103_number_own_fridges,24_burnout,172_supplier_frequency,163_number_high_perishable_products
0,dff2998e-af74-4de6-8efd-488aca24e67b,"November 12, 2022",2022-11-12 22:15:10 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.233822273 19.0535362706),Eugene’s Compostura,1 Photo,Tailor,yes,no,...,2.0,3.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,0.0
1,c596412f-4fc2-4983-acba-d9565859e42f,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2341421351 19.0535610353),Frutas y verduras Angy,1 Photo,Grocery store (aka. nanostore),no,yes,...,1.0,4.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
2,5bb632b3-41b5-4fb6-a817-b564e8b45a48,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.232299887 19.058654656),Libélula,1 Photo,Grocery store (aka. nanostore),yes,no,...,2.0,0.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
3,6774a0f6-bab4-4a58-bf94-95ad0b7cb438,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2331576513 19.0592929035),Quality fix,1 Photo,Grocery store (aka. nanostore),no,no,...,1.0,4.0,0.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
4,6cc637fa-3d54-48c7-9499-6de13d0a26aa,"November 12, 2022",2022-11-12 22:15:08 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2338639604 19.0595846029),Artesanías Los Pinos,1 Photo,Grocery store (aka. nanostore),yes,no,...,0.0,0.0,1.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,2413f06e-15cc-4a6f-8e83-5224c6824b12,"November 3, 2022",2022-11-03 16:50:48 UTC,Emilio Garza,SRID=4326;POINT(-98.1940658722 19.0431145635),July Store,1 Photo,Grocery store (aka. nanostore),yes,no,...,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
167,962bf5a6-1eff-4874-a627-9cd8e3ca27b4,"November 3, 2022",2022-11-03 16:28:15 UTC,Emilio Garza,SRID=4326;POINT(-98.1938023854 19.0427938182),Miscelánea rubí,1 Photo,Grocery store (aka. nanostore),no,no,...,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
168,9ff658db-4dc5-48b6-aa0b-5c6668bb6720,"November 3, 2022",2022-11-03 16:28:14 UTC,Emilio Garza,SRID=4326;POINT(-98.1934387078 19.0428094171),La fonda,1 Photo,Micro-restaurant (aka. fondita),yes,no,...,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
169,e88aa9c1-dc8b-4180-99a1-2e0118ad905d,"November 3, 2022",2022-11-03 16:18:37 UTC,Francisco Adán,SRID=4326;POINT(-98.193818 19.042558),"Birria de Res ""Hermanos Negreros 2"" estilo Tij...",1 Photo,Micro-restaurant (aka. fondita),no,no,...,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
170,bf720ff0-3b7d-47ed-ba49-f5d4bfb7293c,"November 3, 2022",2022-11-03 16:15:13 UTC,Emilio Garza,SRID=4326;POINT(-98.1937349172 19.0428229892),Restaurante el alfeñique,1 Photo,Micro-restaurant (aka. fondita),no,no,...,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9

In [24]:
#corroboramos valores nulos y hemos terminado los VALORES NULOS Y OUTLIERS
valores_nulos=Datos_limpios.isnull().sum()
valores_nulos

_record_id                             0
_title                                 0
_server_updated_at                     0
_updated_by                            0
_geometry                              0
                                      ..
62_frequency_only_services             0
103_number_own_fridges                 0
24_burnout                             0
172_supplier_frequency                 0
163_number_high_perishable_products    0
Length: 106, dtype: int64

In [25]:
#convertir dataframe a excel
Datos_limpios.to_excel("microretailer_mit_lift_lab.xlsx")

In [26]:

#descargar archivo filtrado en xlsx
from google.colab import files

files.download("microretailer_mit_lift_lab.xlsx")